@mixin d-flex-justify-btw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

$min-width:420px;
$main-color-1:#d3d7cd;
$main-color-2:#354131;
$main-color-3:#e4e4e4;
$main-color-4:#46583f;