#root{
    height: 100vh;
    .rs-divider-horizontal{
        height: 6px;
    }
    #footer {
        padding: 3% 5%;
        margin: auto;
        top: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }
    // @media(min-width: )
}



// #28575d