@import "common";
body{
background-color: $main-color-1;
}
#root{
    height: 100vh;
    .rs-divider-horizontal{
        height: 6px;
    }
}

@media screen and (max-width:420px) {
    h1{
        font-size: 29px;
    }
    h2{
        font-size: medium;
    }
    h3{
        font-size:20px;
    }
    h4{
        font-size:16px;
    }
}