@import "common";

.rs-picker-check-menu{
display: flex;
}
#filters{
    display: flex;
    width: 80%;
}
#filters>span{
    box-sizing: content-box;
    width: 100%;
    margin-right: 1%;
    display: inline;
    input{
        height: 17px;
        width: 17px;
    }
    p{
        font-size: 19px;
        display: inline;
        margin-right:4%;
    }
}
.rs-check-item{
    box-sizing: content-box;
    width: 300px;
}
.rs-picker-check-menu{
    background: transparent;

}
.rs-picker-toggle-placeholder{
    font-size: 30px;
}

@media screen and (max-width:420px) {
    .rs-picker-check-menu{
        display: block;
        label{
            box-sizing: content-box;
        }
        }
        .rs-check-item{
            box-sizing: content-box;
        }
        .rs-picker-check-menu{
            background: transparent;
        
        }
        .rs-picker-toggle-placeholder{
            font-size: 30px;
        }
}