@import "common";

.rs-picker-check-menu{
display: flex;
label{
    box-sizing: content-box;
}
}
.rs-check-item{
    box-sizing: content-box;
    width: 300px;
}
.rs-picker-check-menu{
    background: transparent;

}
.rs-picker-toggle-placeholder{
    font-size: 30px;
}