@use "sass:math";
@import "common";

$minCardWidth:480px;
#menu{
    @include d-flex-justify-btw;
    flex-wrap: wrap;
    min-width: $minCardWidth*1.12;
}
.menuOptions {
    width: 30%;
    margin: 1%;
    margin-bottom: 9%;
    min-width: $minCardWidth;
    min-height: math.div(6px,16px)*$minCardWidth;
    text-align: left;

    div {
        width: 100%;
        display: flex;

        .prodImages {
            margin: 1% 8% 1% 1%;
            width: 40%;
            min-width: 120px;
            height: 20vh;
        }
        .prodNames{
            font-size: 30px;
        }
        .price{
            margin-bottom: 10%;
            font-size: 25px;
            font-weight: 600;
        }

    }
}